aiosqlite
uvicorn[standard]>=0.35.0,<0.36.0
aiofiles>=24.1.0,<25.0.0
fastapi>=0.116.1,<0.117.0
python-multipart>=0.0.20,<0.0.21
httpx>=0.28.1,<0.29.0
pytest>=8.4.1,<9.0.0
websockets>=15.0.1,<16.0.0
pytest-asyncio
sqlalchemy>=2.0.41,<3.0.0
opencc-python-reimplemented>=0.1.7,<0.2.0
pluggy
pygments
iniconfig
idna
click
starlette
pydantic==2.5.3
pydantic-core==2.14.6
typing_extensions
typing-inspection
annotated-types
anyio
sniffio
h11
pytest-timeout
httpcore
certifi
pytest-xprocess
torch
faster-whisper
